* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
#parent{
    width: 100vw;
    height: 100vh;
    position: relative;
}
#first_background{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: blue;
    animation: move 3s ease forwards;
}

@keyframes move {
    0% {
        top: -1000px;
    }
    100% {
        top: 0;
    }
}

#ball {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: aqua;
    border-radius: 50%;
    top: 50vh;
    bottom: 50vw;
    left: 50vw;
    right: 50vw;
    opacity: 0;
    animation: fadeIn 0.5s ease 4s forwards, moveUp 2s ease 5.5s forwards,
    moveLeft 2s ease 7.5s forwards,
    moveRight 1s ease 9s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-49vh)

    /* Moves up */
    }
}

@keyframes moveLeft {
    from {
        transform: translateY(-49vh) translateX(0);
    }

    to {
        transform: translateY(-49vh) translateX(-13rem);
    }

    /* Moves left */
}

@keyframes moveRight {
    from {
        transform: translateY(-49vh) translateX(-13rem);
    }
    to {
        transform: translateY(-49vh) translateX(13rem);
        opacity: 0;
    }
}

#heading {
    color: aqua;
    font-family: cursive;
    text-align: center;
    opacity: 0;
    animation: headingFade 1s ease 9s forwards;
}

@keyframes headingFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#heading2 {
    position: absolute;
    color: aquamarine;
    font-family: cursive;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, 5px) rotateX(180deg);
    transform-origin: center;
    opacity: 0;
    animation: flipAppear 1s ease 10s forwards;
}

@keyframes flipAppear {
    from {
        transform: translate(-50%, 5px) rotateX(180deg);
        transform-origin: center;
        opacity: 0.5;
    }
    to {
        transform: translate(-50%, 45px);
        transform-origin: center;
        opacity: 1;
    }
}

#border {
    background: linear-gradient(rgb(24, 34, 167), rgb(0, 245, 204));
    width: 40rem;
    height: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    opacity: 0;
    animation: form 2s ease-in 11s forwards;
}

#form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    row-gap: 20px;
    align-items: center;
    justify-items: center;
    place-items: center;
}

.form-row {
    display: flex;
    flex-direction: column;
    /* Stack label above input */
    gap: 10px;
    /* Space between label and input */
    align-items: center;
    /* Ensures both label & input are centered */
    text-align: center;
    /* Ensures label text is centered */
    position: relative;
}

#signup {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    color: rgb(255, 255, 255);
}

#textname {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#name {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        font-size: 20px;
        border: 3px solid white;
}

#name::placeholder {
    font-size: 20px;
    text-align: center;
}

#textemail {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#email {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        font-size: 20px;
        border: 3px solid white;
}

#email::placeholder {
    font-size: 20px;
    text-align: center;
}

#dateofbirth {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#date {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        font-size: 20px;
        border: 3px solid white;
}

#textpassword {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#password {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        font-size: 20px;
        border: 3px solid white;
}

#password::placeholder {
    font-size: 20px;
    text-align: center;
}

#textprofession {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#profession {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 20px;
    border: 3px solid white;
}

#profession::placeholder {
    font-size: 20px;
    text-align: center;
}

#ttextarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#textarea {
    width: 250px;
    height: 100px;
    border-radius: 10px;
    font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        padding-left: 5px;
        border: 3px solid white;
}

#profession::placeholder {
    font-size: 20px;
    text-align: center;
}

#submit {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background: linear-gradient(rgb(223, 185, 17), rgb(146, 11, 11));
    font-size: 25px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border: 3px solid white;
}

#submitbtn {
    grid-column: 1 / 3;
    justify-self: center;
    padding-top: 1rem;
    align-items: center;
}

@keyframes form {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width:639px) {
#form-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        row-gap: 20px;
        align-items: center;
        justify-items: center;
        place-items: center;
    }
#signup {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
}
#heading {
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    opacity: 0;
    animation: headingFade 1s ease 9s forwards;
}
#heading2 {
    position: absolute;
    color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, 5px) rotateX(180deg);
    transform-origin: center;
    opacity: 0;
    animation: flipAppear 1s ease 10s forwards;
}
}

@media (min-width: 640px) {
#border {
        background: linear-gradient(rgb(24, 34, 167), rgb(0, 245, 204));
        width: 40rem;
        height: 78%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        opacity: 0;
        animation: form 2s ease-in 11s forwards;
    }
}

@media (min-height: 830px) {
    #submitbtn {
            position: absolute;
            align-items: center;
            bottom: 20px;
        }
}